<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <div class="panel-block">
      <p>trend 1</p>
    </div>
    <div class="panel-block">
      <p>trend 2</p>
    </div>
    <div class="panel-block">
      <p>trend 3</p>
    </div>
    <div class="panel-block">
      <p>trend 4</p>
    </div>
  </nav>
</div>
